body {
    padding-top: 4.5rem;
    background: #f5f5f5;
}

div[class*="form-"] {
    background: #fff;
}

div[class*="-content"] {
    padding-top: 1rem;
}


.app-container {
    > .container {
        margin-top: 5em;
    }
}
