.thumbnail {
    &-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: end;
        margin: 0;
        li {
            margin: 0 10px;
            position: relative;
            img {
                display: block;
            }
            a.thumbnail-delete {
                display: none;
            }
            &:hover {
                a.thumbnail-delete {
                    display: block;
                }

            }
        }
    }
    &-delete {
        position: absolute;
        right: 0;
        font-size: 15px;
        height: 20px;
        background: #fff;
        width: 20px;
        text-align: center;
        &:active, &:hover, &:visited {
            box-shadow: none;
        }
    }
}
