.slide-enter-active {
  animation: slidefadein 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  animation: slidefadeout 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}


@keyframes slidefadein {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
   transform: translateY(0px);
  }
}
@keyframes slidefadeout {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100%);
  }
}


.ball-beat > div {
    background: #5764c6;
}

.loader-container {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 1px;
}
