.search-box {
    position: relative;
    width: 100%;
    .container {
        padding: 25px 0;
    }
}
.search-box.scrolled {
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px solid #eee;
    .container {
        padding: 0 .4rem
    }
}
.location {
    background: #fff;
    position: absolute;
    width: 100%;
    top: 43px;
}
